[submodule "server"]
	path = server
	url = https://github.com/ishareget/server.git
[submodule "activity"]
	path = activity
	url = https://github.com/ishareget/activity.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/ishareget/dashboard.git
[submodule "exchange"]
	path = exchange
	url = https://github.com/ishareget/exchange.git

